
*{
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}




/* Стили для шапки */
.header {
    background-color: #fff;
}





/* TOPBAR */
.topbar_Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    color: #777;
    margin-right: 120px;
}

.topbar_Links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.topbar_Links li {
    margin-left: 20px;
}

.topbar_Links a {
    text-decoration: none;
    color: #777;
    padding: 5px 10px;
}





/* MIDBAR */
.midbar_Container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 137px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_Bar {
    display: flex;
    flex-grow: 1;
    margin-right: 30px;
    margin-left: 70px;
    height: 40px;
}

.search_Bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.search_Bar button {
    padding: 8px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user_Nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: 120px;

}

.user_Nav li a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    color: #777;
    padding: 5px 10px;
    font-size: 14px;
}

.user_Nav img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    align-items: center
}





/* CATEGORY NAV */
.category_Nav {
    padding: 10px 20px;
    margin-right: 135px;
    margin-left:290px;

}

.category_Nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: center;
}

.category_Nav li {
    margin-right: 70px;
    margin-left: auto;
    margin-bottom: 12px;
}

.category_Nav a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}





/* FEATURED PRODUCTS */
.featured_Products {

    height: 65vh; /* Высота экрана удалить*/
    width: 75%;
    background-color: #d9d9d9;
    z-index: -1; /* Чтобы фон был под остальными элементами удалить */
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    position:static;
}

.featured_Products h2 {
    position: relative; /* Чтобы элементы были поверх фона */
    margin-bottom: 10px;
    text-align: left;
    padding-left: 77px;
}

.featured_Products .product_Grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}





/* PRODUCTS FOR YOU */
.products_For_You {
    padding: 20px;
    text-align: center;  

}

.products_For_You h2 {
    margin-bottom: 20px;
    text-align: left;
    padding-left: 145px;
}

.products_For_You .product_Grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.product_Card {
    width: 100%; /* Задаем 100% ширину */
    max-width: 215px; /* Ограничиваем максимальную ширину */
    border: 0px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.product_Card img {
    max-width: 100%;
    height: auto;

    margin-bottom: 5px;
}

.product_Card p {
    margin: 5px 0;
}





/* Кнопка "Показать еще" */
.show-more-button {
    display: block; /* Делает кнопку блочным элементом */
    margin: 0 auto; /* Центрирует кнопку по горизонтали */
    background-color: #000000; /* Фон кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убирает рамку */
    padding: 10px 20px; /* Внутренний отступ кнопки */
    cursor: pointer; /* Стиль курсора */
    border-radius: 10px;
}





/* Пользователям */
footer {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    color: #777;
    margin-left: 170px;
    margin-right: 170px;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 30%;
}

.footer-column {
    text-align: left;    
}

.footer-column h4 {
    font-size: 14px;
    margin-bottom: 10px;

}

.footer-column a {
    display: block;
    text-decoration: none;
    color: #777;
    margin-bottom: 5px;
}

.footer-column p{
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

