{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'seller/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'seller/css/header.css' %}">
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="page">
      <header class="header">
        {% include 'seller/_header.html' %}
      </header>

      <main class="main">
        {% block content %}{% endblock %}
      </main>
    </div>

    {% block extra_js %}{% endblock %}
  </body>
</html>
