{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip & Find</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'seller/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'seller/css/login.css' %}">
  </head>
  <body class="login-page">
    <div class="login-container">
      <h1 class="login-container__title">Flip & Find</h1>
      <p class="login-container__subtitle">Вход в партнерскую программу</p>

      <div class="login-form">
        <p class="login-form__description">Введите номер телефона, чтобы войти или зарегистрироваться</p>

        <form class="login-form__form" action="#" method="post">
          <div class="login-form__input-group">
            <input type="tel" class="login-form__phone-input" id="phone" name="phone" placeholder="Тел:  +7 000 000 00 00" required>
            <button type="submit" class="login-form__submit-btn">Получить код</button>
        </form>
          </div>
      </div>
  </body>
</html>
