{% extends 'seller/base.html' %}
{% load static %}
{% block title %}{{ site_name }} - Отзывы{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'seller/css/reviews.css' %}">
{% endblock %}
{% block content %}
<div class="review">
  <div class="review__info">
    <div class="review__reviewer">
      <i class="review__avatar"></i>
      <span class="review__name">Иван Иваныч</span>
    </div>
    <div class="review__stars">⭐⭐⭐⭐☆</div>
    <p class="review__comment">Достоинства: Спасибо за браслет хорошо упаковано...</p>
  </div>
  <img src="img/image-4.jpg" alt="Браслет" class="review__image">
</div>

<div class="review">
  <div class="review__info">
    <div class="review__reviewer">
      <i class="review__avatar"></i>
      <span class="review__name">Иван Иваныч</span>
    </div>
    <div class="review__stars">⭐⭐⭐⭐⭐</div>
    <p class="review__comment">Сумка топ</p>
  </div>
  <img src="img/image-4.jpg" alt="Сумка" class="review__image">
</div>

<div class="review">
  <div class="review__info">
    <div class="review__reviewer">
      <i class="review__avatar"></i>
      <span class="review__name">Иван Иваныч</span>
    </div>
    <div class="review__stars">⭐⭐⭐☆☆</div>
    <p class="review__comment">Доставка, как из Китая. Замучаешься ждать...</p>
  </div>
  <img src="img/image-4.jpg" alt="Браслет" class="review__image">
</div>

<div class="review">
  <div class="review__info">
    <div class="review__reviewer">
      <i class="review__avatar"></i>
      <span class="review__name">Иван Иваныч</span>
    </div>
    <div class="review__stars">⭐⭐⭐⭐⭐</div>
    <p class="review__comment">Хороший браслет, тяжёлый, увесистый...</p>
  </div>
  <img src="img/image-4.jpg" alt="Браслет" class="review__image">
</div>

<div class="review">
  <div class="review__info">
    <div class="review__reviewer">
      <i class="review__avatar"></i>
      <span class="review__name">Иван Иваныч</span>
    </div>
    <div class="review__stars">⭐⭐⭐⭐☆</div>
    <p class="review__comment">Ну норм штука. Нравится. Качественная...</p>
  </div>

  <img src="img/image-4.jpg" alt="Браслет" class="review__image">
</div>
{% endblock %}
