{% load static %}
<header class="header">
  <div class="header__logo">
    <img src="{% static 'logo_inline.svg' %}">
  </div>
  <nav class="header__nav">
    <a href="#" class="header__nav-link">Главная</a>
    <a href="#" class="header__nav-link">Товары и цены</a>
    <a href="#" class="header__nav-link">Финансы</a>
    <a href="#" class="header__nav-link">Аналитика</a>
    <a href="#" class="header__nav-link">Реклама</a>
    <a href="#" class="header__nav-link">Маркетинг</a>
    <a href="#" class="header__nav-link">Отзывы</a>
  </nav>
</header>
