body {
  background-color: #f5f5f5;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
}

.cart,
.summary {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  position: sticky;
  top: 20px;
  align-self: flex-start;
}

.cart {
  flex: 2;
  margin-right: 20px;
}

.summary {
  flex: 1;
}

.cart__header {
  font-size: 24px;
  font-weight: bold;
}

.cart__subheader {
  color: #888;
  margin-bottom: 20px;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.cart__item-image {
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.cart__item-details {
  flex-grow: 1;
}

.cart__item-title {
  font-weight: bold;
}

.cart__item-color,
.cart__item-date {
  color: #888;
}

.cart__item-actions {
  display: flex;
  align-items: center;
}

.cart__quantity-button {
  background-color: #ddd;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  margin: 0 5px;
}

.cart__quantity-button:hover {
  background-color: #bbb;
}

.cart__item-price {
  text-align: right;
}

.cart__price {
  margin-right: 5px;
}

.summary__header {
  font-size: 18px;
  margin-bottom: 20px;
}

.summary__item {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.summary__item > span:first-child {
  flex: 1;
  min-width: 120px;
  text-align: left;
}

.summary__item > span:last-child, .summary__price {
  text-align: right;
  font-weight: bold;
}

.summary__total {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.summary__order-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.summary__order-button:hover {
  background-color: #333333;
}

.summary__agreement {
  display: block;
  margin-top: 10px;
}

.summary__agreement-checkbox {
  margin-right: 5px;
}

.summary__price {
    text-align: right;
}

.cart__item-date-btn {
    background: transparent;   /* Прозрачный фон */
    border: none;              /* Без рамки */
    padding: 0;                /* Без внутренних отступов */
    margin: 0;                 /* Без внешних отступов */
    cursor: pointer;           /* Курсор-указатель при наведении */
    outline: none;             /* Без обводки при фокусе */
    box-shadow: none;          /* Без теней */
    display: inline-block;     /* Корректное отображение */
    transform: scale(0.7);
    position: relative;  /* включаем относительное позиционирование */
    left: -10px;         /* сдвигаем элемент влево на 10 пикселей */
}
