/* PRODUCTS */
.products {
  max-width: 1000px;
  width: 80%;
  background-color: rgba(217, 217, 217, 0.5);
  margin-top: 30px;
  padding: 20px 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  position: static;
  box-sizing: border-box;
}

.products--recommended {
  max-width: 1500px;
  background-color: transparent;
  margin-top: 0;
}

.products__title {
  position: relative;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 10px;
}

.products--recommended .products__title {
  margin-bottom: 15px;
  margin-top: 10px;
}

/* PRODUCT GRID */
.products__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.products--recommended .products__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

/* PRODUCT CARD */
.product-card {
  width: 20%;
  box-sizing: border-box;
}

.products--recommended .product-card {
  width: 100%;
  max-width: 215px;
  border: 0px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.product-card__price,
.product-card__info,
.product-card__rating,
.product-card__name {
  margin: 5px 0;
}

.product-card__price,
.product-card__info,
.product-card__rating {
  text-align: left;
  margin: 5px 0;
}


/* SHOW MORE */
.show-more-container {
  text-align: center;
  margin-bottom: 50px;
}

.show-more-button {
  display: block;
  margin: 0 auto;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}


/* HIDDEN SECTION */
.hidden {
  display: none;
}
