{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip & Find - Браслет SOLVANOV "Настоящий Волк"</title>
    <link rel="stylesheet" href="{% static 'website/css/cart.css' %}">
  </head>
  <body>
    <div class="container">

      {% include './includes/_search_bar.html' %}

      <section class="cart">
        <h2>Корзина</h2>
        <div class="cart-item">
          <img src="URL_ИЗОБРАЖЕНИЯ" alt="Браслет">
          <div class="cart-item-info">
            <h3>Силиконовый браслет SOLVANOV "Настоящий Волк"</h3>
            <p>Черный</p>
            <p>27 января</p>
          </div>
          <div class="cart-item-quantity">
            <button>-</button>
            <span>1</span>
            <button>+</button>
          </div>
          <div class="cart-item-price">
            Sale 58р <del>500р</del>
          </div>
        </div>
      </section>

      <section class="delivery">
        <h2>Выбрать адрес доставки</h2>
        <p>Товар: 1 шт. 500p</p>
        <p>Скидка 442p</p>
        <p>Итого 58р</p>
        <button>Заказать</button>
        <p>Соглашаясь с правилами пользования торговой площадкой и возврате</p>
      </section>

      <section class="payment">
        <h2>Способ оплаты</h2>
        <p>Войти или зарегистрироваться, чтобы выбрать способ оплаты</p>
      </section>

      <section class="profile">
        <h2>Мои данные</h2>
        <p>Войти или зарегистрироваться, чтобы Оформить заказ</p>
      </section>

      <section class="you-viewed">
        <h2>Вы смотрели</h2>
        <div class="you-viewed-items">
          <div class="you-viewed-item">
            <img src="URL_ИЗОБРАЖЕНИЯ" alt="Браслет">
            <p>Sale 2200p <del>12000p</del></p>
            <p>VarFab/Нержавеющая</p>
            <p>4.8 &#9733; Оценок 2333</p>
          </div>

          <div class="you-viewed-item">
            <img src="URL_ИЗОБРАЖЕНИЯ" alt="Браслет">
            <p>Sale 182p <del>380p</del></p>
            <p>TamPress/Книга вырезал...</p>
            <p>4.8 &#9733; Оценок 4900</p>
          </div>

          <div class="you-viewed-item">
            <img src="URL_ИЗОБРАЖЕНИЯ" alt="Браслет">
            <p>Sale 1724p <del>5400p</del></p>
            <p>TamPress/Книга выдрез...</p>
            <p>4.9 &#9733; Оценок 2500</p>
          </div>
          <div class="you-viewed-item">
            <img src="URL_ИЗОБРАЖЕНИЯ" alt="Браслет">
            <p>Sale 722p <del>6400p</del></p>
            <p>TamPress/Книга вырезал...</p>
            <p>4.7 &#9733; Оценок 54010</p>
          </div>
          <div class="you-viewed-item">
            <img src="URL_ИЗОБРАЖЕНИЯ" alt="Браслет">
            <p>Sale 367p <del>5400p</del></p>
            <p>Сила Суздаль/Рука для ...</p>
            <p>4.8 &#9733; Оценок 57030</p>
          </div>
        </div>
      </section>

      {% include './includes/_footer.html' %}

    </div>
  </body>
</html>
