{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="{% static 'website/css/catalog.css' %}">
  </head>
  <body>

    {% include './includes/_header.html' %}

    <section class="featured_Products"> 
      <h2>Выгодно</h2>
      <div class="product_Grid">
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Браслет силиконовый">
          <h3>БРАСЛЕТ силиконовый</h3>
          <p>Sale 58p <s>500p</s></p>
          <p>Solvanov/силиконовый брас...</p>
          <p>4.9 ⭐ Оценок 115</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Кольцо мотоциклиста">
          <h3>Кольцо мотоциклиста</h3>
          <p>Sale 588p <s>1200p</s></p>
          <p>Solvanov/Кольцо мотоциклис...</p>
          <p>5 ⭐ Оценок 65</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Браслет мотоцепь">
          <h3>БРАСЛЕТ мотоцепь</h3>
          <p>Sale 1259p <s>2400p</s></p>
          <p>Solvanov/Браслет цепь мото...</p>
          <p>4.9 ⭐ Оценок 42</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Мотосумка на бедро">
          <h3>Мотосумка на бедро</h3>
          <p>Sale 1811p <s>5000p</s></p>
          <p>Solvanov/силикованный брас...</p>
          <p>4.8 ⭐ Оценок 30</p>
        </div>
      </div>
    </section>

    <section class="products_For_You">
      <h2>Товары для вас</h2>
      <div class="product_Grid">
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Непромокаемый наматрасник">
          <h3>Непромокаемый наматрасник</h3>
          <p>Sale 2200p <s>12000p</s></p>
          <p>VarFabric/Наматрасник неп...</p>
          <p>4.9 ⭐ Оценок 2333</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Книга вырезалки">
          <h3>Книга вырезалки</h3>
          <p>Sale 182p <s>399p</s></p>
          <p>TiamoPress/Книга вырезал...</p>
          <p>4.8 ⭐ Оценок 4900</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Стол">
          <h3>Стол</h3>
          <p>Sale 1724p <s>5500p</s></p>
          <p>TiamoPress/Стол</p>
          <p>4.9 ⭐ Оценок 2500</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Наушники PRO 4">
          <h3>Наушники PRO 4</h3>
          <p>Sale 722p <s>6400p</s></p>
          <p>TiamoPress/Наушники PRO 4</p>
          <p>4.7 ⭐ Оценок 84033</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Грунт для рассады">
          <h3>Грунт для рассады</h3>
          <p>Sale 367p <s>6400p</s></p>
          <p>Сила Суздаля/Грунт для рассады</p>
          <p>4.8 ⭐ Оценок 57030</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Конструктор MOZABRICK">
          <h3>Конструктор MOZABRICK</h3>
          <p>Sale 2200p <s>12000p</s></p>
          <p>VarFabric/Конструктор MOZABRICK</p>
          <p>4.9 ⭐ Оценок 2333</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Изолента">
          <h3>Изолента</h3>
          <p>Sale 182p <s>399p</s></p>
          <p>TiamoPress/Изолента</p>
          <p>4.8 ⭐ Оценок 4900</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Кровать">
          <h3>Кровать</h3>
          <p>Sale 1724p <s>5500p</s></p>
          <p>TiamoPress/Кровать</p>
          <p>4.9 ⭐ Оценок 2500</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Наушники PRO 4">
          <h3>Наушники PRO 4</h3>
          <p>Sale 722p <s>6400p</s></p>
          <p>TiamoPress/Наушники PRO 4</p>
          <p>4.7 ⭐ Оценок 84033</p>
        </div>
        <div class="product_Card">
          <img src="img/image-4.jpg" alt="Стол">
          <h3>Стол</h3>
          <p>Sale 367p <s>6400p</s></p>
          <p>Сила Суздаля/Стол</p>
          <p>4.8 ⭐ Оценок 57030</p>
        </div>
      </div>
    </section>

    <section>
      <button class="show-more-button">Показать еще</button>
    </section>

    {% include './includes/_footer.html' %}

  </body>
</html>

