{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip & Find</title>
    <link rel="stylesheet" href="{% static 'website/css/login.css' %}">
  </head>
  <body>

    {% include './includes/_search_bar.html' %}

    <main>
      <div class="login-box">
        <h2>Войти или создать профиль</h2>
        <input type="tel" placeholder="Тел. +7 000 000 00 00">
        <button>Получить код</button>
        <div class="terms">
          <input type="checkbox" id="termsCheckbox">
          <label for="termsCheckbox">Соглашаюсь с правилами пользования торговой площадкой и возврата</label>
        </div>
      </div>
    </main>

    {% include './includes/_footer.html' %}

  </body>
</html>
