{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История заказов</title>
    <link rel="stylesheet" href="{% static 'website/css/orders.css' %}">
  </head>

  {% include './includes/_search_bar.html' %}

  <div class="container">
    <div class="sidebar">
      <h2>Главная</h2>
      <ul>
        <li><a href="#">Все (0)</a></li>
        <li><a href="#">Активные (0)</a></li>
        <li><a href="#">Ожидают отправки (0)</a></li>
        <li><a href="#">Отправленные (0)</a></li>
        <li><a href="#">Ожидают отзыв (0)</a></li>
        <li><a href="#">Завершенные (0)</a></li>
      </ul>
    </div>
    <div class="main-content">
      <h1>Ваша история заказов пуста</h1>
      <button class="buy-button">Купить сейчас</button>
    </div>
  </div>

  {% include './includes/_footer.html' %}

  </body>
</html>
