{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip & Find - Браслет SOLVANOV "Настоящий Волк"</title>
    <link rel="stylesheet" href="{% static 'website/css/product.css' %}">
  </head>
  <body>

    {% include './includes/_search_bar.html' %}

    <div class="product-details">
      <div class="product-images">
        <img src="/img/image-4.jpg" alt="Браслет SOLVANOV">
        <img src="/img/image-4.jpg" alt="Браслет SOLVANOV">
        <img src="/img/image-4.jpg" alt="Браслет SOLVANOV">
      </div>
      <div class="product-info">
        <h1 class="product-title">Силиконовый браслет SOLVANOV "Настоящий Волк"</h1>
        <div class="product-description">
          <p>Артикул: 230820887</p>
          <p>Количество предметов в упаковке: 1 (шт)</p>
          <p>Состав бижутерии: Силикон</p>
          <p>Вид замка: без замка</p>
          <p>Декоративные элементы: гравировка</p>
          <p>Особенности модели: гипоаллергенный материал</p>
          <p>Габариты:</p>
          <p>Длина предмета: 21 см</p>
          <p>Ширина предмета: 6.5 см</p>
          <p>Таблица размеров: 21</p>
          <p>Открыть описание</p>
        </div>
        <div class="product-price">
          Sale 58р <del>500р</del>
        </div>
        <div class="product-rating">
          &#9733; 4.9 Оценок 115
        </div>
        <div class="product-actions">
          <button>В корзину</button>
        </div>
      </div>
    </div>

    <div class="reviews">
      <h2>Отзывы</h2>
      <div class="review">
        <p class="review-author">Даниил, 20 января</p>
        <div class="review-rating">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        <p>Достоинства: Спасибо за бросит впроша упаннване. И советую ком брать</p>
        <p>Недостатки:</p>
      </div>
      <div class="review">
        <p class="review-author">Даниил, 20 января</p>
        <div class="review-rating">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
        <p>Достоинства: Крутой за неделю ничего не стерлось надпись как навое.</p>
        <p>Недостатки: Было маленькое белое пятнышко но быстро ушло а так все круто.</p>
      </div>
    </div>

    <div class="similar-products">
      <h2>Похожие товары</h2>
      <div class="similar-products-grid">
        <div class="similar-product">
          <img src="URL_ПОХОЖЕГО_ТОВАРА_1" alt="Похожий товар">
          <p>Sale 2200р</p>
        </div>
        <div class="similar-product">
          <img src="URL_ПОХОЖЕГО_ТОВАРА_2" alt="Похожий товар">
          <p>Sale 182р</p>
        </div>
        <div class="similar-product">
          <img src="URL_ПОХОЖЕГО_ТОВАРА_3" alt="Похожий товар">
          <p>Sale 1724р</p>
        </div>
        <div class="similar-product">
          <img src="URL_ПОХОЖЕГО_ТОВАРА_4" alt="Похожий товар">
          <p>Sale 722р</p>
        </div>
      </div>
      <button>Показать еще</button>
    </div>

    {% include './includes/_footer.html' %}

  </body>
</html>
