{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}{{ site_name }} - Страница не найдена{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'buyer/css/404.css' %}">
{% endblock %}
{% block content %}
<div class="center-wrapper">
  <div class="not-found">
    <h2 class="not-found__title">По вашему запросу ничего не найдено</h2>
    <a href="{% url 'store_buyer:catalog' %}" class="not-found__link">
      <button class="not-found__btn catalog-btn">Перейти в каталог</button>
    </a>
  </div>
</div>
{% endblock %}
