{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}{{ site_name }} - Каталог{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'buyer/css/catalog.css' %}" />
<link rel="stylesheet" href="{% static 'buyer/css/product_card.css' %}" />
{% endblock %}
{% block extra_js %}
<script src="{% static 'buyer/js/catalog.js' %}"></script>
{% endblock %}
{% block content %}
<section class="products products--featured">
  <h2 class="products__title">Выгодно</h2>
  <div class="products__grid">
    {% for product in featured_products %}
      {% include 'buyer/_product_card.html' %}
    {% endfor %}
  </div>
</section>
<section class="products products--recommended">
  <div class="products__grid">
  </div>
</section>
{% endblock %}
