{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}{{ site_name }} - Вход{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'buyer/css/login.css' %}" />
{% endblock %}
{% block content %}
<div class="login">
  <h2 class="login__title">Войти или создать профиль</h2>
  <input class="login__input" type="tel" placeholder="Тел. +7 000 000 00 00">
  <button class="login__button">Получить код</button>
  <div class="login__terms">
    <input class="login__terms-checkbox" type="checkbox" id="termsCheckbox">
    <label class="login__terms-label" for="termsCheckbox">Соглашаюсь с правилами пользования торговой площадкой и возврата</label>
  </div>
</div>
{% endblock %}
