{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}{{ site_name }} - Вход{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'buyer/css/login.css' %}" />
{% endblock %}
{% block content %}
<div class="login">
  <div class="login-form">
    <h2 class="login-form__description">Введите почту и пароль, чтобы войти</h2>

    <form class="login-form__form" method="post">
      {% csrf_token %}

      <div class="login-form__input-group">
        <input
          type="email"
          id="email"
          name="email"
          class="login-form__email-input"
          placeholder="Почта"
          required
        />
      </div>
      <div class="login-form__input-group">
        <input
          type="password"
          id="password"
          name="password"
          class="login-form__password-input"
          placeholder="Пароль"
          required
        />
      </div>

      <button type="submit" class="login-form__submit-btn">Войти</button>
    </form>

    {% if error %}
    <div class="login-form__error-box">
      {{ error }}
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
