{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}{{ site_name }} - Заказы{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'buyer/css/orders.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
  <aside class="sidebar">
    <h2 class="sidebar__title">Главная</h2>
    <ul class="sidebar__menu">
      <li class="sidebar__menu-item"><a href="#" class="sidebar__menu-link">Все (0)</a></li>
      <li class="sidebar__menu-item"><a href="#" class="sidebar__menu-link">Активные (0)</a></li>
      <li class="sidebar__menu-item"><a href="#" class="sidebar__menu-link">Ожидают отправки (0)</a></li>
      <li class="sidebar__menu-item"><a href="#" class="sidebar__menu-link">Отправленные (0)</a></li>
      <li class="sidebar__menu-item"><a href="#" class="sidebar__menu-link">Ожидают отзыв (0)</a></li>
      <li class="sidebar__menu-item"><a href="#" class="sidebar__menu-link">Завершенные (0)</a></li>
    </ul>
  </aside>

  <div class="content">
    <h1 class="content__title">Ваша история заказов пуста</h1>
    <a href="{% url 'store_buyer:catalog' %}" class="content__action-wrapper">
      <button class="content__action-button">Купить сейчас</button>
    </a>
  </div>
</div>
{% endblock %}
