{% extends 'buyer/base.html' %}
{% load static %}
{% block title %}{{ site_name }} - Профиль{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'buyer/css/profile.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
  <div class="container__title">Мои данные</div>

  <div class="profile-sections">
    <div class="profile-sections__item">
      <div class="profile-sections__name">Адрес</div>
      <div class="profile-sections__text">
        <p>Г. Москва Ул. Малыгина д...</p>
      </div>
    </div>
    <a href="{% url 'store_buyer:logout' %}" >
      <div class="profile-sections__item">
          <p class="profile-sections__action">Выйти</p>
      </div>
    </a>
  </div>

  <div class="waiting-review">
    <h3 class="waiting-review__title">Ждут отзыв:</h3>
    <div class="waiting-review__list">
      <div class="product-card">
        <img class="product-card__image" src="/img/image-4.jpg" alt="БРАСЛЕТ мотоцепь" />
        <div class="product-card__rating product-rating">
          <input type="radio" id="star51" name="rating1" value="5" onclick="rateProduct(this, 5)" />
          <label class="product-rating__star" for="star51">★</label>
          <input type="radio" id="star41" name="rating1" value="4" onclick="rateProduct(this, 4)" />
          <label class="product-rating__star" for="star41">★</label>
          <input type="radio" id="star31" name="rating1" value="3" onclick="rateProduct(this, 3)" />
          <label class="product-rating__star" for="star31">★</label>
          <input type="radio" id="star21" name="rating1" value="2" onclick="rateProduct(this, 2)" />
          <label class="product-rating__star" for="star21">★</label>
          <input type="radio" id="star11" name="rating1" value="1" onclick="rateProduct(this, 1)" />
          <label class="product-rating__star" for="star11">★</label>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
