<nav class="category_Nav">
  <ul>
    <li><a href="#">Каталог</a></li>
    <li><a href="#">Пк, Видео, гейминг</a></li>
    <li><a href="#">Настольные игры и игрушки</a></li>
    <li><a href="#">Хранение данных</a></li>
    <li><a href="#">Часы</a></li>
    <li><a href="#">3D принтеры</a></li>
    <li><a href="#">Для мужчин</a></li>
    <li><a href="#">Для девушек</a></li>
    <li><a href="#">Красота</a></li>
    <li><a href="#">Хобби и творчество</a></li>
    <li><a href="#">Обувь</a></li>
    <li><a href="#">Зоотовары</a></li>
    <li><a href="#">Для дома</a></li>
  </ul>
</nav>
