{% load static %}
<header class="header">
  <div class="topbar_Container">
    <div class="topbar_Title"></div>
    <nav class="topbar_Links">
      <ul>
        <li><a href="#">Поддержка</a></li>
        <li><a href="#">Доставка</a></li>
      </ul>
    </nav>
  </div>

  <div class="midbar_Container">
    <div class="logo"><span>Flip &amp;</span><span>Find</span></div>
    <div class="search_Bar">
      <input type="text" placeholder="Поиск">
      <button>Найти</button>
    </div>
    <nav class="user_Nav">
      <ul>
        <li><a href="#"><img src="{% static 'website/icons/login.png' %}" alt="Войти">Войти</a></li>
        <li><a href="#"><img src="{% static 'website/icons/orders.png' %}" alt="Мои заказы">Мои заказы</a></li>
        <li><a href="#"><img src="{% static 'website/icons/cart.png' %}" alt="Корзина">Корзина</a></li>
      </ul>
    </nav>
  </div>
</header>
