/* Сброс стилей */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Белый фон */
    text-align: center;
}

.container {
    max-width: 1000px; /* Ограничение ширины контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 20px; /* Внутренние отступы */
}

.title {
    font-size: 36px; /* Размер заголовка */
    font-weight: bold; /* Жирный шрифт */
    margin-bottom: 30px; /* Отступ снизу */
    margin-top: 80px;
}

.description-box {
    background-color: #f2f2f2; /* Светло-серый фон */
    padding: 100px; /* Внутренние отступы */
    border-radius: 10px; /* Скругленные углы */
    margin-bottom: 40px; /* Отступ снизу */
}

.description-text {
    font-size: 24px; /* Размер текста описания */
    color: #333333; /* Темно-серый цвет текста */
    line-height: 1.6; /* Межстрочный интервал */
    margin-bottom: 20px; /* Отступ снизу текста */
}

.open-shop-btn {
    background-color: black; /* Черный фон кнопки */
    color: white; /* Белый текст кнопки */
    border: none; /* Убираем рамку кнопки */
    padding: 15px 30px; /* Внутренние отступы кнопки */
    font-size: 16px; /* Размер текста кнопки */
    cursor: pointer; /* Указатель при наведении на кнопку */
    border-radius: 12px; /* Скругленные углы кнопки */
}

.open-shop-btn:hover {
    background-color: #333333; /* Темно-серый цвет при наведении */
}

.motivation-text {
    font-size: 42px; /* Размер мотивационного текста */
    font-weight: bold; /* Жирный шрифт текста */
}
